.messagepart{
max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
    .main{
        padding: 0px 0px 0px 200px;
        .title{
            h1{
                font-size: 50px;
            }
            p{
                opacity: 0.6;
            }
        }
        .messageForm{
            .nameAndUser{
                display: flex;
                margin-top: 50px;
                input{
                    width: 347px;
                    padding: 10px 6px;
                    margin-right: 10px;
                    
                }
            }
            .textArea{
                input{
                    width: 720px;
                    padding: 10px 6px;
                    margin-top: 10px;
                }
                textarea{
                    width: 728px;
                    

                }
                button{
                    padding: 15px 25px;
                    border: none;
                    border-radius: 20px;
                    margin: 25px 0px 0px 0px;
                    color: white;
                    background-color: #7971ea;
                    transition: 0.5s;
                    &:hover{
                        background-color: #352da8;
                    }
                }
    
            }
        }
    }

    
}