.searchInput{
    max-width: 1200px;
  margin: 0 auto;
  padding: 0;
    input{
        position: relative;
        left: 300px;
        top: 200px;
        width: 600px;
        padding: 10px 6px;
        border: none;
        border-radius: 10px;
        background-color: #3f3d56;
        color: white;
    }
}